html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

body {
    display: flex;
    justify-content: center;   /* horizontal */
    align-items: center;       /* vertical */
}

.container {
    text-align: center;
    width: min(600px, 90%);
}

.logo {
    width: 96px;
    margin-bottom: 20px;
}

h1 {
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 400;
}

input {
    width: 100%;
    box-sizing: border-box;

    padding: 16px 22px;

    border-radius: 999px;
    border: 1px solid #ddd;

    font-size: 18px;

    outline: none;
}

input:hover,
input:focus {
    box-shadow: 0 1px 8px rgba(0,0,0,.18);
    border-color: transparent;
}
